
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*
	COLORES QUE SE OCUPARON
	Guinda Politécnico: 	;
	Azul ESCOM: #1169A3;
*/
html, body{
	height:80%;
	margin:0;
	padding:0;
	font-family:'Open Sans', sans-serif;
	background-color:#1169A3;
}

#header{
	width:100%;
	background-color:#ffffff;
	/*min-width:960px;*/
	margin-top: 2%;
	height: 60px;
	margin-bottom: 3%;
}
#headerIMG1{
	float: left;
	
	height: 100%;
	margin-left: 8%;
}
#headerIMG2{
	
	height: 100%;
	float: right;
	margin-right: 8%;
}
#contenedor{
	/*margin-left: 5%;*/
	float: left;
}

span{
	text-align: right;
}

.contenedor-login{
	width:600px;
}

#logoESCOM{
	float: left;
	/*margin-right: 5%;*/
	width:330px;
	padding:75px 45px 30px 30px;
}

h2{
	color: white;
	margin-left: 10%;
}