{% extends 'profesor/base.html' %}

{% block archivos_css  %}

<link rel="stylesheet" href="{{STATIC_URL}}css/profesor/reportes/reportes.css">
	
{% endblock %}

{% block archivos_js  %}
	
{% endblock %}


{%  block contenido %}

<div id="reportes">
	<h1>Reportes</h1></br>
					<h2><p style="margin-bottom:5%">Reporte de evaluaciones de alumnos</p></h2></br>
				
					<center>
					<Form method="GET" action='/reporte_evaluaciones'>
					Elija el grupo:
						<select id="materia" name="materia">
							{%for grupo in grupolist %}
								<option value={{forloop.counter0}}> {{grupo.materia.nombre}} {{grupo.grupo.cve_grupo}} 
								</option>
							{% endfor %}
						</select>

					<input type="submit" value="Aceptar"/>
					<br>
					{% if mensaje == 1 %}
						<script>
						bootbox.alert('Se genero correctamente el reporte')
						
						</script>

					{% elif mensaje == 2 %}
						<script>
						bootbox.alert('Hubo en error al generar el reporte')
						</script>
					{% endif %}
				

			</Form>
		</center>
		<button class="btn" style="float: left; margin-left: 60px;" onclick="bootbox.alert('Usted ha cancelado la operacion',function() {
  location.href='/profesor_main'});">		Regresar
		</button>


</div>


{% endblock %}

			